*,::after,::before{
    margin:0;
    padding:0;
    box-sizing:border-box
}


a{
    text-decoration: none;
}

ul{
    list-style: none;
}


body{
    padding-inline: 1rem;
    padding-block: 1rem;
}

.nav>navbar{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 1.5rem;
}


.nav>navbar>ul{
    display: flex;
    gap: 2rem;
    padding-right: 2.5rem;
}


.active{
    background-color: lightgrey;
    pading:2.5rem;
    color: black;
}

h1{
    margin-top: 4em;
}

form{
    padding: 2.5rem;
}

.form-group{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group>input{
    width: 50%;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.add{
    margin-top: 2rem;
    background-color: lightgreen;
}

.edit{
    background-color: lightsalmon;
}

.delete{
    background-color: red;
}

.add>a,.edit>a,.delete>a{
    color: black;
    font-weight: bold;
}

.add,.edit,.delete{
    padding-inline: 20px;
    padding-block: 10px;
    border: none;
}


/* =========================== footer ====================== */

.footer>footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

.footer>footer>div>ul{
    display: flex;
    gap: 3rem;
    padding-right: 2.5rem;

}

.footer>footer>div>ul>li{
 color: white;
}




/* =========================== end  footer ====================== */

