<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BOOK PAGE</title>
    <link th:href="@{/style/styles.css}" rel="stylesheet">
</head>
<body>
<navbar class="nav" th:insert="~{parts/navigation::navigation}"></navbar>
<h1>Welcome <span th:text="${userLogin}">Name</span></h1>

<h3>Lists of Books</h3>


<table>

    <tr>
        <th>NAME</th>
        <th>YEAR</th>
        <th>EDIT</th>
        <th>DELETE</th>
    </tr>

    <th:block th:each="book: ${books}">

        <tr>
            <td th:text="${book.title}"></td>
            <td th:text="${book.year}"></td>
            <td>
                <button type="submit" class="edit">
                    <a th:href="@{|/books/edit/${book.title}|}">Edit</a>
                </button>
            </td>
            <td>
                <button type="submit" class="delete">
                    <a th:href="@{|/books/delete/${book.title}|}">Delete</a>
                </button>
            </td>
        </tr>


    </th:block>


</table>


<div class="add">
    <a  th:href="@{/books/create}">Add a new Book</a>
</div>

</body>
</html>